pygments
pillow
djangorestframework
Django
gunicorn
Markdown
whitenoise
django-heroku
django-filter
coreapi
psycopg2
dj-database-url
boto3
django-storages
python-decouple
Jinja2
requests
s3transfer
autopep8
astroid
pylint
djangorestframework-jwt
